body {
  cursor: none;
}

.index {
    background-color: #f8f8f8;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .content {
    color: #555;
    /* margin-top: 20px; */
    white-space: nowrap;
    font: 400 15px / 150% Assistant, sans-serif;
    height: 312px;
    left: 0px;
    position: absolute;
    top: 64px;
    width: 366px;
    
    @media (max-width: 991px) {
      white-space: initial;
    }
  }

  .index .div-resumepage-wrapper {
    background-color: #f8f8f8;
    height: 2043.06px;
    width: 1440px;
  }
  
  .index .div-resumepage {
    background-color: #f8f8f8;
    height: 2043px;
  }
  
  .index .div-resumepage-main {
    height: 1931px;
    left: 224px;
    position: relative;
    top: 32px;
    width: 992px;
  }
  
  .index .div-col-sm {
    height: 312px;
    left: 57px;
    position: absolute;
    top: 94px;
    width: 366px;
  }
  
  .index .heading {
    color: #333333;
    font-family: "Noto Sans TC", Helvetica;
    font-size: 26.7px;
    font-weight: 500;
    height: 40px;
    left: 10px;
    letter-spacing: 0;
    line-height: 40.1px;
    position: absolute;
    top: -1px;
    white-space: nowrap;
    width: 80px;
  }
  
  .index .text-wrapper {
    color: #555555;
    font-family: "Assistant", Helvetica;
    font-size: 15px;
    font-weight: 400;
    height: 19px;
    left: 10px;
    letter-spacing: 0;
    line-height: 22.5px;
    position: absolute;
    top: 52px;
    white-space: nowrap;
    width: 332px;
  }
  
  .index .div {
    color: #555555;
    font-family: "Assistant", Helvetica;
    font-size: 15px;
    font-weight: 400;
    height: 19px;
    left: 10px;
    letter-spacing: 0;
    line-height: 22.5px;
    position: absolute;
    top: 77px;
    white-space: nowrap;
    width: 346px;
  }
  
  .index .text-wrapper-2 {
    color: #555555;
    font-family: "Assistant", Helvetica;
    font-size: 15px;
    font-weight: 400;
    height: 19px;
    left: 10px;
    letter-spacing: 0;
    line-height: 22.5px;
    position: absolute;
    top: 102px;
    white-space: nowrap;
    width: 346px;
  }
  
  .index .text-wrapper-3 {
    color: #555555;
    font-family: "Assistant", Helvetica;
    font-size: 15px;
    font-weight: 400;
    height: 19px;
    left: 10px;
    letter-spacing: 0;
    line-height: 22.5px;
    position: absolute;
    top: 127px;
    white-space: nowrap;
    width: 346px;
  }
  
  .index .text-wrapper-4 {
    color: #555555;
    font-family: "Assistant", Helvetica;
    font-size: 15px;
    font-weight: 400;
    height: 19px;
    left: 10px;
    letter-spacing: 0;
    line-height: 22.5px;
    position: absolute;
    top: 152px;
    white-space: nowrap;
    width: 346px;
  }
  
  .index .text-wrapper-5 {
    color: #555555;
    font-family: "Assistant", Helvetica;
    font-size: 15px;
    font-weight: 400;
    height: 19px;
    left: 10px;
    letter-spacing: 0;
    line-height: 22.5px;
    position: absolute;
    top: 177px;
    white-space: nowrap;
    width: 45px;
  }
  
  .index .span-fr-myicon {
    height: 25px;
    left: 12px;
    position: absolute;
    top: 217px;
    width: 25px;
  }
  
  .index .new-taipei-city {
    color: #555555;
    font-family: "Assistant", Helvetica;
    font-size: 16.7px;
    font-weight: 400;
    height: 22px;
    left: 38px;
    letter-spacing: 0;
    line-height: 25px;
    position: absolute;
    top: 217px;
    white-space: nowrap;
    width: 172px;
  }
  
  .index .link-https-linktr-ee {
    color: #2e406f;
    font-family: "Assistant", Helvetica;
    font-size: 16.7px;
    font-weight: 400;
    height: 22px;
    left: 13px;
    letter-spacing: 0;
    line-height: 25px;
    position: absolute;
    text-decoration: underline;
    top: 243px;
    white-space: nowrap;
    width: 179px;
  }
  
  .index .link {
    height: 25px;
    left: 12px;
    position: absolute;
    top: 285px;
    width: 25px;
  }
  
  .index .img {
    height: 25px;
    left: 47px;
    position: absolute;
    top: 285px;
    width: 25px;
  }
  
  .index .cfed-a {
    background-image: url(https://cdn.animaapp.com/projects/65be49ec718525e9502de3cd/releases/65c4889ec1cb19d06f5532ea/img/c83fed30-49a3-4010-bf28-ea6fb76602a4-jpg@2x.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 277px;
    left: 433px;
    position: absolute;
    top: 94px;
    width: 492px;
  }
  
  .index .heading-2 {
    color: #2e406f;
    font-family: "Noto Sans TC", Helvetica;
    font-size: 23.4px;
    font-weight: 500;
    height: 26px;
    left: 67px;
    letter-spacing: 0;
    line-height: 35.1px;
    position: absolute;
    top: 459px;
    white-space: nowrap;
    width: 94px;
  }
  
  .index .div-col-sm-2 {
    height: 182px;
    left: 57px;
    position: absolute;
    top: 516px;
    width: 732px;
  }
  
  .index .overlap-group {
    height: 22px;
    left: 10px;
    position: absolute;
    top: 3px;
    width: 285px;
  }
  
  .index .heading-UIUX {
    color: #333333;
    font-family: "Noto Sans TC", Helvetica;
    font-size: 20px;
    font-weight: 500;
    height: 22px;
    left: 0;
    letter-spacing: 0;
    line-height: 30.1px;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 136px;
  }
  
  .index .heading-KOL-tech {
    color: #2e406f;
    font-family: "Noto Sans TC", Helvetica;
    font-size: 18.4px;
    font-weight: 500;
    height: 20px;
    left: 134px;
    letter-spacing: 0;
    line-height: 27.6px;
    position: absolute;
    top: 2px;
    white-space: nowrap;
    width: 151px;
  }
  
  .index .text-wrapper-6 {
    color: #888888;
    font-family: "Assistant", Helvetica;
    font-size: 16.7px;
    font-weight: 400;
    height: 22px;
    left: 10px;
    letter-spacing: 0;
    line-height: 25px;
    position: absolute;
    top: 41px;
    white-space: nowrap;
    width: 135px;
  }
  
  .index .led-the-design-and {
    color: #555555;
    font-family: "Assistant", Helvetica;
    font-size: 16.7px;
    font-weight: 400;
    height: 97px;
    left: 10px;
    letter-spacing: 0;
    line-height: 25px;
    position: absolute;
    top: 82px;
    width: 698px;
  }
  
  .index .ajgizlrdguouwamtu {
    background-image: url(https://cdn.animaapp.com/projects/65be49ec718525e9502de3cd/releases/65c4889ec1cb19d06f5532ea/img/ajgizl7rdgu0ou3wamtu-png@2x.png);
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 3px;
    height: 77px;
    left: 848px;
    position: absolute;
    top: 516px;
    width: 77px;
  }
  
  .index .div-col-sm-3 {
    height: 258px;
    left: 57px;
    position: absolute;
    top: 723px;
    width: 732px;
  }
  
  .index .overlap {
    height: 22px;
    left: 10px;
    position: absolute;
    top: 3px;
    width: 492px;
  }
  
  .index .heading-UIUX-front {
    color: #333333;
    font-family: "Noto Sans TC", Helvetica;
    font-size: 20px;
    font-weight: 500;
    height: 22px;
    left: 0;
    letter-spacing: 0;
    line-height: 30.1px;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 268px;
  }
  
  .index .heading-3 {
    color: #2e406f;
    font-family: "Noto Sans TC", Helvetica;
    font-size: 18.4px;
    font-weight: 500;
    height: 20px;
    left: 255px;
    letter-spacing: 0;
    line-height: 27.6px;
    position: absolute;
    top: 2px;
    white-space: nowrap;
    width: 237px;
  }
  
  .index .UIUX-internship {
    color: #555555;
    font-family: "Assistant", Helvetica;
    font-size: 16.7px;
    font-weight: 400;
    height: 172px;
    left: 10px;
    letter-spacing: 0;
    line-height: 25px;
    position: absolute;
    top: 82px;
    width: 379px;
  }
  
  .index .kbsnorjfubjhssbnih {
    background-image: url(https://cdn.animaapp.com/projects/65be49ec718525e9502de3cd/releases/65c4889ec1cb19d06f5532ea/img/kbsn1orjfubjhs0sbnih-png@2x.png);
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 3px;
    height: 81px;
    left: 844px;
    position: absolute;
    top: 723px;
    width: 81px;
  }
  
  .index .element {
    background-image: url(https://cdn.animaapp.com/projects/65be49ec718525e9502de3cd/releases/65c4889ec1cb19d06f5532ea/img/6778796a-fe98-44bd-8b2d-7bcd4ce9f5aa-png@2x.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 273px;
    left: 67px;
    position: absolute;
    top: 1031px;
    width: 273px;
  }
  
  .index .element-ffc-c-a {
    background-image: url(https://cdn.animaapp.com/projects/65be49ec718525e9502de3cd/releases/65c4889ec1cb19d06f5532ea/img/2f55f94c-c446-485a-b575-aa387d0c947b-png@2x.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 273px;
    left: 360px;
    position: absolute;
    top: 1031px;
    width: 273px;
  }
  
  .index .ef-bb-a {
    background-image: url(https://cdn.animaapp.com/projects/65be49ec718525e9502de3cd/releases/65c4889ec1cb19d06f5532ea/img/e1f42073-bb81-4a31-b4f1-0ddf4331f83b-png@2x.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 273px;
    left: 652px;
    position: absolute;
    top: 1031px;
    width: 273px;
  }
  
  .index .heading-4 {
    color: #2e406f;
    font-family: "Noto Sans TC", Helvetica;
    font-size: 23.4px;
    font-weight: 500;
    height: 26px;
    left: 67px;
    letter-spacing: 0;
    line-height: 35.1px;
    position: absolute;
    top: 1357px;
    white-space: nowrap;
    width: 47px;
  }
  
  .index .rmhlrdveaqdtqudybf {
    background-image: url(https://cdn.animaapp.com/projects/65be49ec718525e9502de3cd/releases/65c4889ec1cb19d06f5532ea/img/rmhlrdveaqdtq1udyb8f-png@2x.png);
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 3px;
    height: 53px;
    left: 67px;
    position: absolute;
    top: 1414px;
    width: 53px;
  }
  
  .index .div-col-sm-4 {
    height: 82px;
    left: 130px;
    position: absolute;
    top: 1414px;
    width: 586px;
  }
  
  .index .heading-national {
    color: #333333;
    font-family: "Noto Sans TC", Helvetica;
    font-size: 20px;
    font-weight: 500;
    height: 30px;
    left: 10px;
    letter-spacing: 0;
    line-height: 30.1px;
    position: absolute;
    top: -1px;
    white-space: nowrap;
    width: 437px;
  }
  
  .index .heading-5 {
    color: #2e406f;
    font-family: "Noto Sans TC", Helvetica;
    font-size: 18.4px;
    font-weight: 500;
    height: 20px;
    left: 10px;
    letter-spacing: 0;
    line-height: 18.4px;
    position: absolute;
    top: 35px;
    white-space: nowrap;
    width: 249px;
  }
  
  .index .p {
    color: #555555;
    font-family: "Assistant", Helvetica;
    font-size: 16.7px;
    font-weight: 400;
    height: 17px;
    left: 10px;
    letter-spacing: 0;
    line-height: 16.7px;
    position: absolute;
    top: 64px;
    white-space: nowrap;
    width: 229px;
  }
  
  .index .text-wrapper-7 {
    color: #888888;
    font-family: "Assistant", Helvetica;
    font-size: 16.7px;
    font-weight: 400;
    height: 22px;
    left: 848px;
    letter-spacing: 0;
    line-height: 25px;
    position: absolute;
    text-align: right;
    top: 1414px;
    white-space: nowrap;
    width: 78px;
  }
  
  .index .heading-6 {
    color: #2e406f;
    font-family: "Noto Sans TC", Helvetica;
    font-size: 23.4px;
    font-weight: 500;
    height: 26px;
    left: 67px;
    letter-spacing: 0;
    line-height: 35.1px;
    position: absolute;
    top: 1549px;
    white-space: nowrap;
    width: 47px;
  }
  
  .index .div-col-sm-5 {
    height: 174px;
    left: 57px;
    position: absolute;
    top: 1606px;
    width: 293px;
  }
  
  .index .text-wrapper-8 {
    color: #333333;
    font-family: "Noto Sans TC", Helvetica;
    font-size: 20px;
    font-weight: 500;
    height: 30px;
    left: 10px;
    letter-spacing: 0;
    line-height: 30.1px;
    position: absolute;
    top: -1px;
    white-space: nowrap;
    width: 51px;
  }
  
  .index .separator {
    border-color: #ffd9f9;
    border-top-style: solid;
    border-top-width: 1px;
    height: 2px;
    left: 10px;
    position: absolute;
    top: 37px;
    width: 273px;
  }
  
  .index .list-item-user {
    color: #555555;
    font-family: "Assistant", Helvetica;
    font-size: 16.7px;
    font-weight: 400;
    height: 72px;
    left: 35px;
    letter-spacing: 0;
    line-height: 25px;
    position: absolute;
    top: 48px;
    width: 174px;
  }
  
  .index .item-list-item-html {
    color: #555555;
    font-family: "Assistant", Helvetica;
    font-size: 16.7px;
    font-weight: 400;
    height: 47px;
    left: 60px;
    letter-spacing: 0;
    line-height: 25px;
    position: absolute;
    top: 124px;
    width: 70px;
  }
  
  .index .div-col-sm-6 {
    height: 174px;
    left: 350px;
    position: absolute;
    top: 1606px;
    width: 293px;
  }
  
  .index .list-item-figma {
    color: #555555;
    font-family: "Assistant", Helvetica;
    font-size: 16.7px;
    font-weight: 400;
    height: 72px;
    left: 35px;
    letter-spacing: 0;
    line-height: 25px;
    position: absolute;
    top: 48px;
    width: 124px;
  }
  
  .index .div-col-sm-7 {
    height: 174px;
    left: 642px;
    position: absolute;
    top: 1606px;
    width: 293px;
  }
  
  .index .heading-language {
    color: #333333;
    font-family: "Noto Sans TC", Helvetica;
    font-size: 20px;
    font-weight: 500;
    height: 30px;
    left: 10px;
    letter-spacing: 0;
    line-height: 30.1px;
    position: absolute;
    top: -1px;
    white-space: nowrap;
    width: 93px;
  }
  
  .index .list-item-english {
    color: transparent;
    font-family: "Assistant", Helvetica;
    font-size: 16.7px;
    font-weight: 400;
    height: 97px;
    left: 35px;
    letter-spacing: 0;
    line-height: 25px;
    position: absolute;
    top: 48px;
    width: 207px;
  }
  
  .index .span {
    color: #555555;
  }
  
  .index .text-wrapper-9 {
    color: #000000e6;
  }
  